<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Contact Us - RENIX (UK) Limited </title>
  <link href="{{ url_for('static', filename='images/R-logo.png') }}" rel="icon" />
  <link href="{{ url_for('static', filename='images/ghk-logo.png') }}" rel="icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>

  <!-- Navbar -->
  {% include 'navbar.html' %}
 
 <section class="contact-section py-5 contact-us-bg position-relative overflow-hidden">
 
    <div class="container ">
      <!-- Title -->
      <h2 class="text-center text-primary mb-5 fw-bold"  data-animate="fade-in-down">Get in Touch</h2>
      <p class="text-center text-muted mb-5 fs-5"  data-animate="fade-in-up">
        Feel Free To Contact Us Today And Get Your Solution
      </p>

      <div class="row g-4 align-items-stretch">
        
        <!-- Contact Form -->
        <div class="col-md-7" data-animate="fade-in-left">
          <div class="p-4 customShadow-lg   bg-light h-100 contact-form-box rounded-3">
            <form id="contactForm" method="POST" novalidate>
              <div class="mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                <small class="text-danger d-none" id="nameError">Full name is required.</small>
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                <small class="text-danger d-none" id="emailError">Please enter a valid email address.</small>
              </div>
              <div class="mb-3">
                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" name="phone" required>
                <small class="text-danger d-none" id="phoneError">Please enter a valid UK phone number.</small>
              </div>
              <div class="mb-3">
                <textarea class="form-control" rows="5" id="message" name="subject" placeholder="Message" required></textarea>
                <small class="text-danger d-none" id="messageError">Message is required.</small>
              </div>
              <div class="captcha-box d-flex align-items-center justify-content-between p-3 rounded shadow-sm">
                <div class="captcha-question fw-bold" >
                  <i class="bi bi-shield-lock text-primary me-2"></i>
                  Sum of <span class="text-dark">{{ num1 }}</span> + <span class="text-dark">{{ num2 }}</span>?
                </div>
                <input type="text" 
                      class="form-control ms-3 w-50 rounded-pill" 
                      name="captcha" 
                      placeholder="Enter Answer" 
                      id="captchaInput" required>
              <input type="hidden" id="captchaAnswer" value="{{ num1 + num2 }}">
              <small class="text-danger d-none" id="captchaError">Captcha is required.</small>
            </div>

              <div class="d-grid py-2" data-animate="fade-in-up">
                <button type="submit" class="btn btn-secondary py-2 fw-bold rounded-pill hover-scale">Submit</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Contact Details -->
        <div class="col-md-5">
            <div class="p-4 bg-white rounded-3 customShadow-lg h-100 contact-details-box">
                <div class="text-center mb-4">
                    <h4 class="mt-3 fw-bold text-success">Contact Details</h4>
                </div>

                <!-- Phone -->
                <div class="d-flex align-items-center mb-3 shadow-sm p-3 rounded bg-light hover-box" data-animate="fade-in-right">
                    <i class="bi bi-telephone-fill text-success fs-4 me-3 roll"></i>
                    <a href="tel:+447854052482" style="text-decoration: none; color: black;">
                        <p class="mb-0">+44 (0)7854052482</p>
                    </a>
                </div>

                <!-- email -->
                <div class="d-flex align-items-center mb-3 shadow-sm p-3 rounded bg-light hover-box" data-animate="fade-in-right">
                <i class="bi bi-envelope-fill text-success fs-4 me-3 roll"></i>
                <a href="mailto:info@renix.co.uk" style="text-decoration: none; color: black;">
                    <p class="mb-0">info@renix.co.uk</p>
                </a>
                </div>

                <!-- Address -->
                <div class="d-flex align-items-start shadow-sm p-3 rounded bg-light hover-box" data-animate="fade-in-right">
                <i class="bi bi-geo-alt-fill text-success fs-4 me-3 roll"></i>
                <span>
                    <p class="mb-0">11 Mallard Way, Pride Park,</p>
                    <p class="mb-0">Derby, England, DE24 8GX</p>
                </span>
                </div>

                <hr class="my-4" style="border: none; border-top: 2px solid #198754;">

                <!-- Social Media -->
                <div class="text-center">
                <a href="https://www.linkedin.com/company/renixofficial/" target="_blank" class="btn btn-primary me-2 " data-animate="fade-in-up">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/renixuk/" target="_blank" class="btn btn-primary " data-animate="fade-in-up">
                    <i class="bi bi-facebook"></i>
                </a>
                </div>
            </div>
        </div>


      </div>
    </div>
  </section>

  <!-- Flash Message Modal -->
  <div class="modal fade" id="flashMessageModal" tabindex="-1" aria-labelledby="flashMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"> 
      <div class="modal-content shadow-lg rounded-4 border-0">
        <div id="flashModalHeader" class="modal-header text-white rounded-top-4" style="background-color: #0A1432;"> 
          <h5 class="modal-title fw-bold" id="flashMessageModalLabel">Notification</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center"> 
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} fw-semibold" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-primary px-4 py-2 text-decoration-none rounded-pill" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</section>


  <script>
     
    document.addEventListener("DOMContentLoaded", function () {
        let flashModal = new bootstrap.Modal(document.getElementById("flashMessageModal"));
  
        // Check if there are any flash messages inside the modal
        if (document.querySelector("#flashMessageModal .alert")) {
            flashModal.show(); 
        }
    });
  </script>
  
   {% include 'footer.html' %}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  

 
</body>
</html>
