<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cookie Policey - RENIX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='images/R-logo.png') }}" rel="icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <style>
        .custom-list {
            list-style-type: circle;
            padding-left: 50px;
        }
    
        .custom-list li {
            margin: 0 10px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <!-- Header navbar -->
    {% include 'navbar.html' %}
    <div class="container my-5 text-white">
        <h1 class="text-center mb-4">Cookie Policy</h1>
        
        <p>
            RENIX Recruitment (RENIX,” “we,” “us,” “our”) uses cookies on our website to provide you with a more tailored and efficient experience. This Cookie Policy explains what cookies are, the types of cookies we use, how we use them, and how you can manage your preferences.
        </p>
        <p>
            By accessing the Website, you (“you”) agree to our use of cookies as described in this Cookie Policy. We may update this Cookie Policy from time to time, and your continued use of the Website will be subject to the current Cookie Policy. Please review this Cookie Policy regularly. If you do not agree with the use of cookies, you should not use the Website.
        </p>
        <p>
            Cookies are small text files placed on your computer, smartphone, or other device and are commonly used on the internet. They allow a website to recognise your device and remember if you’ve been to the website before. By using our website, you consent to the use of cookies in accordance with this policy.
        </p>
    
        <ul class="custom-list">
            <li><strong>Functionality:</strong> These cookies enable you to use our site’s features and are necessary for the website to function properly.</li>
            <li><strong>Performance and Analytics:</strong> These cookies allow us to count visits and traffic sources, so we can measure and improve the performance of our site.</li>
            <li><strong>Personalisation:</strong> These cookies enable us to personalise content for you, remember your preferences and settings.</li>
            <li><strong>Your Choices:</strong> Most browsers automatically accept cookies, but you can choose whether or not to accept cookies through your browser controls, often found in your browser’s “Tools” or “Preferences” menu.</li>
            <li><strong>Changes to this Policy:</strong> We may update this Cookie Policy from time to time. We encourage you to review this policy regularly to stay informed about our use of cookies.</li>
            <li><strong>Contact Us:</strong> If you have any questions about our use of cookies, please contact us at: <a href="mailto:hello@renix.co.uk">hello@renix.co.uk</a></li>
        </ul>
    </div>
    

    

    {% include 'footer.html' %}
</body>
</html>